<footer style="background-color: #C40018;">

  <div class="wrapper">
    <p>
        <a href="https://twitter.com/">Siguenos en Twitter</a> |
        <a href="https://facebook.com/">Siguenos en Facebook</a>
    </p>
  </div>

</footer>
