
<!DOCTYPE html>
<html>
    {{> head}}
    <body style="background:#ffffff">
        {{>header}}
        <div class="wrapper">
          {{{body}}}
        </div>
        {{> footer}}
        
	</a>
    </body>
</html>
