<div class="box">

    <h2>CENTRO DE ENSEÑANZA EL SUEÑO DEL COLIBRI</h2>
    <p>
         
    Nuestro centro de enseñanza CEEDISC, por sus siglas "Centro de Enseñanza y 
    Estimulación del Desarrollo Integral el Sueño del Colibrí" tenemos la mision de
     ser una institución de educación primaria, inicial y preescolar reconocida por 
    la formación de niños y niñas libres, reflexivas, analíticas y capaces de 
    contribuir en el desarrollo de nuestra sociedad.
 

    </p>



</div>

</div>



<div id="embedded_messenger">
    
    <header id="message_header" onclick="Botkit.toggle()">Chat</header>
    <iframe id="botkit_client" src="/chat.html"></iframe>
</div>
<script src="/embed.js"></script>
<link rel="stylesheet" href="/css/embed.css" />
<script>
Botkit.boot();
</script>
