
    <form id="form" action="/citas/new" method="POST">
        <div style=" text-align: center;">
        <h2 >Registro de cita</h2>
        </div>
        <!-- Details -->
        
        <div class="form-control" >
            <label for="nombre" id="label-name">
                Nombre
            </label>
 
            <!-- Input Type Text Name -->
            <input type="text"
                   name="nombre"
                   placeholder="Ingrese su nombre" class="form-control"/>
            <label for="apellido" id="label-name">
                Apellido
            </label>
            <input type="text" name="apellido" placeholder="Ingrese su apellido" class="form-control"/>

            <label for="email" class="colocar_email">Email
                <span class="obligatorio">*</span>
            </label>
            <input type="email" name="email" id="email" required="obligatorio" placeholder="Escribe tu Email">
                
            <label for="telefone" class="colocar_telefono">Teléfono
            </label>
            <input type="telf" name="telf" id="telefono" placeholder="Escribe tu teléfono">
            
            <label for="mensaje" class="colocar_mensaje">Asunto
                    <span class="obligatorio">*</span>
            </label>                     
            <textarea name="business" class="texto_mensaje" id="mensaje" required="obligatorio" placeholder="Deja aquí tu comentario..."></textarea> 
            
            <label for="apellido" id="label-name">
            
            </label>
            <select name="servicio">
                <option value= "diagnostico">Diagnostico</option>
                <option value= "consulta">Consulta</option>
                <option value= "registro">Registro de infante</option>
                <option value= "otro">Otro motivo</option>
            </select>
            <br>
            <div class="form-control">
            <label for="start">Agendar Cita:</label> 

           <input type="date" class="form-control form-control-sm" id="FechaActual" name="fecha_cita">
           <script>
                const now = new Date()
                const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
                document.getElementById("FechaActual").value = now.toJSON().slice(0,10);
                document.getElementById("FechaActual").min = now.toISOString().split("T")[0];
                const maxDate = new Date(today)
                maxDate.setMonth(maxDate.getMonth() + 1)
                
                document.getElementById("FechaActual").max = maxDate.toJSON().slice(0,10)
                
            </script>
            
            <select name="hora_cita">
                <option value="2:00pm">2:00p.m.</option>
                <option value="3:00pm">3:00p.m.</option>
                <option value="4:00pm">4:00p.m.</option>
                <option value="4:00pm">5:00p.m.</option>
                <option value="6:00pm">6:00p.m.</option>
            </select>
            
           
            </div>
        </div>
  
  
        <!-- Multi-line Text Input Control -->
        <div class="form-group" style="text-align: center; ">
        <button class="btn btn-primary btn-block" type="submit" style="height:40px; width:100%">
            Enviar
        </button>
        </div>
    </form>
   
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
<script>
    let date = document.querySelector('date');
    let select = document.querySelector('select');

    select.addEventListener('change', setWeather);

</script>
<script language="JavaScript">
var fecha = new Date()
var dia = fecha.getDay()
var dias = new Array('domingo','lunes','martes','miercoles','juev es','viernes','sabado')
function escribeImagen()
{
document.write ('<img src="' + dias[dia] + '.jpg">')
Swal.fire({title: 'Error!',text: 'Do you want to continue',icon: 'error',confirmButtonText: 'Cool'})

}
</script>

<!-- Multi-line Text  <script language="JavaScript">escribeImagen()</script> Input Control -->



           
        