
    <form id="form" action="/citas/new" method="POST">
        <div style=" text-align: center;">
        <h2 >Registro de cita</h2>
        </div>
        <!-- Details -->
        
        <div class="form-control" >
            <label for="nombre" id="label-name">
                Nombre
            </label>
 
            <!-- Input Type Text Name -->
            <input type="text"
                   name="nombre"
                   placeholder="Ingrese su nombre" class="form-control"/>
            <label for="apellido" id="label-name">
                Apellido
            </label>
            <input type="text" name="apellido" placeholder="Ingrese su apellido" class="form-control"/>

            <label for="email" class="colocar_email">Email
                <span class="obligatorio">*</span>
            </label>
            <input type="email" name="email" id="email" required="obligatorio" placeholder="Escribe tu Email">
                
            <label for="telefone" class="colocar_telefono">Teléfono
            </label>
            <input type="telf" name="telf" id="telefono" placeholder="Escribe tu teléfono">
            
            <label for="mensaje" class="colocar_mensaje">Asunto
                    <span class="obligatorio">*</span>
            </label>                     
        
            <label for="apellido" id="label-name">
            
            </label>
            <select name="servicio">
                <option value= "diagnostico">Diagnostico</option>
                <option value= "consulta">Consulta</option>
                <option value= "registro">Registro de infante</option>
                <option value= "otro">Otro motivo</option>
            </select>
            <br>
            <div class="form-control">
            <ul for="start">Agendar Cita:</ul> 

           <input type="date" class="form-control form-control-sm" id="fecha_cita" name="fecha_cita">
           <script>
                const now = new Date()
                const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
                const minDate = new Date(today)
                minDate.getDate(minDate.getDate())
                document.getElementById("fecha_cita").min = minDate.toISOString().split("T")[0];
                const maxDate = new Date(today)
                maxDate.setMonth(maxDate.getMonth() + 1)
                
                document.getElementById("fecha_cita").max = maxDate.toJSON().slice(0,10)
                
            </script>
            
   
             <div class="box" id="box" name="box">
                <input type="radio" name="hora" id="option-1" value="2:00pm">
                <input type="radio" name="hora" id="option-2" value="3:00pm">
                <input type="radio" name="hora" id="option-3" value="4:00pm">
                <input type="radio" name="hora" id="option-4" value="5:00pm">
                <input type="radio" name="hora" id="option-5" value="6:00pm">
                
                <label for="option-1" class="option-1" id="uno">
                 
                </label>
                <label for="option-2" class="option-2" id="dos">

                </label>
                <label for="option-3" class="option-3" id="tres">
                  
                </label>
                <label for="option-4" class="option-4" id="cuatro">
       
                </label>
                <label for="option-5" class="option-5" id="cinco">
       
                </label>
                </div>          
            
            <script src="/socket.io/socket.io.js" charset="utf-8"></script>
            <script src="/calendario.js" type= "module" charset="utf-8"></script>
           
            </div>
        </div>
  
  
        <!-- Multi-line Text Input Control -->
        <div class="form-group" style="text-align: center; ">
        <button class="btn btn-primary btn-block" type="submit" style="height:40px; width:100%" onclick="alert('Registro exitoso');" id="refresh">
            Enviar
        </button>
        
        </div>
    </form>

           
        