<div class="row">
        
                    <select name = "hora cita">
                {{#each forms}}
                <div class="cold-md-3">
                        <option value="">{{hora_cita}}</option>
                </div>
                {{/each}}
                
                    </select>
            </div>