<div class="box">

    <h2>CONTACTANOS</h2>
    <p>
        Nos puede encontrar en 

    </p>

    <div class="col-md-6" style="justify-content: center;
  align-items: center;">
                <div class="bg-deep p-30 mb-20">
                                        
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d784.1350926929558!2d-65.7577506417521!3d-19.57610377629897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f94e0b108d15fb%3A0x9d97951626223b43!2sC.%2017%20de%20agosto%20301%2C%20Villa%20Imperial%20de%20Potos%C3%AD!5e0!3m2!1ses-419!2sbo!4v1654819377855!5m2!1ses-419!2sbo" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>                    <br> <br>
                                          <div class="contact-item alt">
                        <div class="">
                            
                        <h5 class="font-alt name_adress">CEEDISC el sueño del colibrí</h5>
 
                        </div>
                    </div>
                    <div class="contact-item alt">
                        <div class="contact-item-icon">
                            <i class="licon-telephone"></i>
                        </div>
                        <div class="contact-item-text">
                            <span class="font-alt">Teléfono</span>
                            72415258                       </div>
                    </div>

                    <!-- /phone -->


                    <!-- email -->

                    <div class="contact-item alt">
                        <div class="contact-item-icon">
                            <i class="licon-at-sign"></i>
                        </div>
                        <div class="contact-item-text">
                            <span class="font-alt">Email</span>
                            info@el-sueño-del-colibri.com                        </div>
                    </div>

                    <!-- /email -->


                    <!-- location -->

                    <div class="contact-item alt">
                        <div class="contact-item-icon">
                            <i class="licon-map-marker"></i>
                        </div>
                        <div class="contact-item-text"> <span class="font-alt">Localización</span>
                            C/ 17 de agosto Nro. 297                        </div>
                    </div>

                </div>


            </div>



</div>



<div id="embedded_messenger">
    <header id="message_header" onclick="Botkit.toggle()">Chat</header>
    <iframe id="botkit_client" src="/chat.html"></iframe>
</div>
<script src="/embed.js"></script>
<link rel="stylesheet" href="/css/embed.css" />
<script>
Botkit.boot();
</script>
