
  <div class="banner">
    <div class="logo"><img src="logo.png" ></div>
    <h1 class="headline">CEEDISC "el sueño del colibrí"</h1>
    <span class="tagline">Un lugar para ti.</span>
  </div><!--/.banner-->
  
<div id="valley-img" >

  <h2 class="text-center section-title tc-title ">Centro de Enseñanza el Sueño Del Colibrí</h1> </h1>
  


       <script>
          <div id="homepage_bot">
              <iframe id="botkit_client" src="/chat.html"></iframe>
          </div>
          <div>
      

          </div>
          <div id="welcome" >
              
          </div>

    </script>
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>


  <div class="valleys-content">
    <p>
    El centro de enseñanza el sueño del colibrí tiene como objetivo brindar 
    servicios de calidad en educación primaria, inicial y preescolar, a los niños
     que ingresan a nuestro centro, a través de prácticas educativas innovadoras 
     que propicien el desarrollo integral de las variadas potencialidades de los
      niños, necesarias para un buen desenvolvimiento en el medio donde se 
      desarrolla.
  </p>  
  <br>
    <p>
         
    Nuestro centro de enseñanza CEEDISC, por sus siglas "Centro de Enseñanza y 
    Estimulación del Desarrollo Integral el Sueño del Colibrí" tenemos la mision de
     ser una institución de educación primaria, inicial y preescolar reconocida por 
    la formación de niños y niñas libres, reflexivas, analíticas y capaces de 
    contribuir en el desarrollo de nuestra sociedad.
 

    </p>

 
  
    <div class="valley-card">
      <div class="valley-img"><img src=""></div>
      <h2>Nivelacion escolar </h2>
    </div><!--/.valley-card-->

    <div class="valley-card">
      <div class="valley-img"><img src=""></div>
      <h2>Desarrollo integral</h2>

    </div><!--/.valley-card-->

    <div class="valley-card">
      <div class="valley-img"><img src=""></div>
      <h2>Problemas de habla</h2>

    </div><!--/.valley-card-->

    <div class="valley-card">
      <div class="valley-img"><img src=""></div>
      <h2>Apoyo psicopedagógico</h2>

    </div><!--/.valley-card-->

    <div class="valley-card">
      <div class="valley-img"><img src=""></div>
      <h2>Evaluación diagnóstica</h2>

    </div><!--/.valley-card-->

    <div class="valley-card">
      <div class="valley-img"><img src=""></div>
      <h2>Intervención en procesos cognitivos</h2>

    </div><!--/.valley-card-->
  </div>
<a id="btn-abrir-popup" class="btn-wsp" target="_blank" title="Asignar Cita">
<i class="icon-calendar"></i></a>
<div class="overlay" id="overlay">
			<div class="popup" id="popup">
				<a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
				<h3>REGISTRAR CITA</h3>
				<h4>Le enviaremos un correo, con el formulario para el registro de cita.</h4>
				<form id="form" action="/citas/mail" method="POST">
					<div class="contenedor-inputs">
						<input type="text" name="nombre" placeholder="Ingrese su nombre" class="form-control" placeholder="Nombre">
						<input type="email" name="email" id="email" required="obligatorio" placeholder="Escribe tu Email">
					</div>
					<input type="submit" class="btn-submit" value="Enviar">
				</form>
			</div>
</div>
<script src="popup.js"></script>

<div id="embedded_messenger">
    
    <header id="message_header" onclick="Botkit.toggle()">Chat</header>
    <iframe id="botkit_client" src="/chat.html"></iframe>
</div>
<script src="/embed.js"></script>
<link rel="stylesheet" href="/css/embed.css" />
<script>
Botkit.boot();
</script>

